body{
    font-family: 'Fredoka One', cursive, sans-serif;
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 580px;
    background-color: whitesmoke;
}

.display-animation {
    width: 550px;
    height: 550px;
    background-color: rgb(164, 203, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.content{
    display: inline-block;
    margin: auto auto;
    position: relative;
    height: 100%;
}

.content p {
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin: 0px 0px;
    width: 100%;
}

.content svg {
    width: 450px;
    height: 450px;
    margin: auto;
}

#sun{
    animation-name: rotate;
    animation-duration: 6s;
    transform-origin: center;
    transform-box: fill-box;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}













